$white: #fff;
$black: #000;
/* Deux couleurs principales de becode */
$darkblue: #16232E;
$lightblue: #63C3D1;

$main-bg-color: #f5f8fa;

$main-text-color: #757575;

$main-scrollbar-color: #414339;

/* couleurs de l'éditeur de code au centre sur le mockup */
$cm-bgcolor-color: #272822;
$cm-bgcolor-dark: #1E1F1C;
$cm-unselected-tab-color: #414339;
$cm-tab-text-color: #fff;
$cm-tab-unselected-text-color: #CCCCC7;
$cm-scrollbar-color: #414339;

/* colonne de droite sur le mockup */
$lp-button-bgcolor: #63C3D1;
$lp-button-iconcolor: #fff;
$livepreview-adressbar-bgcolor: #f5f5f5;