@import '../../../node_modules/normalize.css/normalize.css';

* {
    margin: 0;
    padding: 0;
}
   *, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

html {
    height: 100vh;
}