.loginform-box {
    background-color: $white;
    width: 600px;
    border-radius: 10px;
    padding: 0 1.5em 2em 1.5em;
    display: flex;
    justify-content: center;
    .loginform-wrapper {
        width: 300px;
        & > img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        label {
            font-size: 1em;
            color: $darkblue;
        }
        input[type=text], input[type=email], input[type=password] {
            color: $darkblue;
            border: 0;
        }
        input[type=text], input[type=email], input[type=password] {
            width: 100%;
            height: 30px;
            padding: 12px 20px;
            border-radius: 5px;
            background-color: #ccc;
            caret-color: $darkblue;
        }
        select {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 0;
            cursor: help;
        }
        input[type=submit] {
            width: 100%;
            height: 30px;
            margin-top: 10px;
        }
    }
}

