body {
    display: -webkit-box; /* iOS6-, Safari 3.1-6*/
    display: -moz-box; /*Firefox19-*/
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex; /* Chrome */
    display: flex; 
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $main-bg-color;
    font-family: $athiti;
}

.main-box {
    /* main-box */
}