/*DMSHD*/
html {
    height: 100vh;
}

html,body {
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }

body {
    display: -webkit-box; /* iOS6-, Safari 3.1-6*/
    display: -moz-box; /*Firefox19-*/
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex; /* Chrome */
    display: flex; 
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $main-bg-color;
    font-family: $athiti;
    align-items: center;
    justify-content: center;
}

a {
    color: $darkblue;
}
a:visited {
    color: $lightblue;
}